<!DOCTYPE html>
<html lang="ru">

<head>
    <title>WiFiVorota - Zoom</title>
    <link rel="stylesheet" href="<%= asset_path('zoom.css') %>">
    <script src="<%= asset_path('camera_api.js') %>"></script>
    <script src="<%= asset_path('zoom.js') %>"></script>
</head>

<body>
    <img id="video" src="/no-video.png" alt="здесь должно быть видео с камеры">
</body>

</html>